/* Add here all your CSS customizations */

.rev-slidebg {
  filter: brightness(0.7) !important
}

.feature-box.feature-box-style-4 h4 {
  color: #9dabb9;
}

p {
  color: #777;
  line-height: 26px;
  margin: 0 0 2px;
}

.bx-servicos-produtos {
  background: white;
  padding: 11px;
  border-radius: 4px;
  box-shadow: 3px 4px 4px 2px rgba(0, 0, 0, 0.22);
  height: 200px;
}

html {
  scroll-behavior: smooth;
}

.telefone {
  font-size: 21px;
  color: rgba(37, 82, 164, 0.788235294117647);
}

.iconewhatsapp {
  font-size: 28px !important;
  color: rgba(0, 128, 0, 0.664);
}



@media screen and (max-width: 768px) {
  .fotosquemsomos {
    display: none;
  }
  .header-row {
    margin-left: 14px;
  }
  .telefone {
    font-size: 16px;
  }
  .iconewhatsapp {
    font-size: 13px !important;
  }
  .tp-mask-wrap {
    display: none;
  }
  .tp-parallax-wrap {
    display: none !important;
  }
}